body{
	background:url('../images/concrete_seamless.png');
}

.countries-list li{
	margin:7px 5px;
}

.detail{
	padding-top:25px;
}

.table{
	font-size:17px;
}
#countryDetail tr td:nth-child(1){
	font-weight: bold;
}

#attribName{
	text-transform: capitalize;
}
header{
	background: url('../images/footer_lodyas.png');
	padding:20px;
	color:#aaa;
	border-bottom: 3px solid #777;
}

footer{
	padding-top:15px;
	margin-top:20px;
	border-top: 2px solid #777;
	background: url('../images/footer_lodyas.png');
	color:#aaa;
}

#copyright, #credit{
	line-height: 30px;
}

#credit .fa, #credit a{
	color:#ea5a4b;
}

/* TWBS Classes */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-color:#bbb;
}

.navbar{
	border-radius:0;
}


::-webkit-scrollbar {
    width: 12px;
    background:transparent;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(20,20,20,0.7); */
     background-color: skyblue;
  background-image: -webkit-linear-gradient(top, #337ab7, skyblue); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image:         linear-gradient(to bottom, #337ab7, skyblue); /* Chrome

}